# Variables d'environnement pour l'application

# Supabase
VITE_SUPABASE_URL=https://lkaiwnkyoztebplqoifc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxrYWl3bmt5b3p0ZWJwbHFvaWZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk3NzM1MTcsImV4cCI6MjA2NTM0OTUxN30.FicSTtfVzfXIEAPawUyHAGf6LeRiTr3OwF_FyG-YCaw

# Firebase (existant)
VITE_FIREBASE_API_KEY=AIzaSyBXTuIuLnuRgAs2Hb6J7SBq75dtnZx6waU
VITE_FIREBASE_AUTH_DOMAIN=chanthanathaicookapp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chanthanathaicookapp
VITE_FIREBASE_STORAGE_BUCKET=chanthanathaicookapp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=160076199215
VITE_FIREBASE_APP_ID=1:160076199215:web:b1de32c00972ddcf2addda

# Airtable (pour la migration uniquement)
VITE_AIRTABLE_API_KEY=patEBpT3PN7HSR0WL.a153ed187857aedb25d813a6d8218ee86e4d6183111026f51bb79045426454f7
VITE_AIRTABLE_BASE_ID=appjSFSHxwJqhnUJj